# EDA

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'/Users/ruichenyang/projects/ds_jobs'

In [34]:
#df = pd.read_csv(r"data/linkedin-scrape_apple-data-scientist_2022-07-11.csv")
df = pd.read_csv(r"data/linkedin-scrape_google-data-scientist_2022-07-13.csv")

In [35]:
df.head()

,company,position,location,full_text,details
0,Amazon Web Services (AWS),Sr. Machine Learning Engineer,"Minneapolis–Saint Paul, MN","Sr. Machine Learning Engineer, Amazon Web Serv...",Job Summary\n\nDESCRIPTION\n\nAt Amazon Web Se...
1,Amazon Web Services (AWS),"Sr. Machine Learning Engineer, Professional Se...","Columbus, OH","Sr. Machine Learning Engineer, Professional Se...",Job Summary\n\nDESCRIPTION\n\nAre you excited ...
2,Amazon Web Services (AWS),"Sr. Machine Learning Engineer, Professional Se...","Washington, DC","Sr. Machine Learning Engineer, Professional Se...",Job Summary\n\nDESCRIPTION\n\nAre you excited ...
3,Amazon Web Services (AWS),Sr. Machine Learning Engineer,"Sparks, NV","Sr. Machine Learning Engineer, Amazon Web Serv...",Job Summary\n\nDESCRIPTION\n\nDo you have a pa...
4,Apple,SEO Data Scientist - Apple Media Products,"Austin, TX","SEO Data Scientist - Apple Media Products, App...",Summary\n\nServices at Apple help hundreds of ...

In [42]:
target = df.loc[lambda x: x['company'] == 'Google']

In [43]:
target.loc[lambda x: x['position'].str.contains('Scientist')]

,company,position,location,full_text,details
5,Google,"Business and Marketing Data Scientist, Google ...","Kirkland, WA","Business and Marketing Data Scientist, Google ...",Note: By applying to this position you will ha...
12,Google,"Marketing Data Scientist, Devices and Services...","San Francisco, CA","Marketing Data Scientist, Devices and Services...",This role may also be located in our Playa Vis...
18,Google,"Business and Marketing Data Scientist, Applied...","Redwood City, CA","Business and Marketing Data Scientist, Applied...",Note: By applying to this position you will ha...
19,Google,"Business and Marketing Data Scientist, Google ...","Sunnyvale, CA","Business and Marketing Data Scientist, Google ...",Note: By applying to this position you will ha...
29,Google,"Business and Marketing Data Scientist, Applied...","New York, NY","Business and Marketing Data Scientist, Applied...",Note: By applying to this position you will ha...
30,Google,"Marketing Data Scientist, Devices and Services...","New York, NY","Marketing Data Scientist, Devices and Services...",This role may also be located in our Playa Vis...
36,Google,"Marketing Data Scientist, Devices and Services...","Los Angeles, CA","Marketing Data Scientist, Devices and Services...",This role may also be located in our Playa Vis...
37,Google,"Marketing Data Scientist, Devices and Services...","Atlanta, GA","Marketing Data Scientist, Devices and Services...",This role may also be located in our Playa Vis...
43,Google,"Data Scientist, Ads Marketing Analytics","San Francisco, CA","Data Scientist, Ads Marketing Analytics, Googl...",This role may also be located in our Playa Vis...
44,Google,"Marketing Data Scientist, Devices and Services...","Mountain View, CA","Marketing Data Scientist, Devices and Services...",This role may also be located in our Playa Vis...
54,Google,"Business and Marketing Data Scientist, gTech","Mountain View, CA","Business and Marketing Data Scientist, gTech, ...",Note: By applying to this position you will ha...
55,Google,"Data Scientist, Engineering","Sunnyvale, CA","Data Scientist, Engineering, Google, Sunnyvale...",Note: By applying to this position you will ha...
61,Google,"Data Scientist, Engineering","Mountain View, CA","Data Scientist, Engineering, Google, Mountain ...",Note: By applying to this position you will ha...
62,Google,"Business and Marketing Data Scientist, Support...","Seattle, WA","Business and Marketing Data Scientist, Support...",Note: By applying to this position you will ha...
69,Google,"Marketing Data Scientist, gTech Professional S...","Chicago, IL","Marketing Data Scientist, gTech Professional S...",Note: By applying to this position you will ha...
87,Google,"Marketing Data Scientist, gTech Professional S...","Mountain View, CA","Marketing Data Scientist, gTech Professional S...",Note: By applying to this position you will ha...
94,Google,"Marketing Data Scientist, Global Media Lab","San Francisco, CA","Marketing Data Scientist, Global Media Lab, Go...",Note: By applying to this position you will ha...
121,Google,"Data Scientist, Ads Marketing Analytics","Atlanta, GA","Data Scientist, Ads Marketing Analytics, Googl...",This role may also be located in our Playa Vis...
137,Google,"Senior Business Data Scientist, Machine Learning","Chicago, IL","Senior Business Data Scientist, Machine Learni...",Synergistic IT is a full-service staffing and ...
243,Google,"Looker Product Analyst, Data Scientist","Mountain View, CA","Looker Product Analyst, Data Scientist, Google...",Note: Google’s hybrid workplace includes remot...
268,Google,"Looker Product Analyst, Data Scientist",United States,"Looker Product Analyst, Data Scientist, Google...",Note: Google’s hybrid workplace includes remot...
281,Google,"Business Data Scientist, Natural Language Spec...","San Francisco, CA","Business Data Scientist, Natural Language Spec...",Note: By applying to this position you will ha...
474,Google,"Research Scientist, Google Research (United St...","New York, NY","Research Scientist, Google Research (United St...",Note: Although most of our Research Scientists...

In [45]:
idx = 36
print(target.loc[idx, 'company'])
print(target.loc[idx, 'position'])
print(target.loc[idx, 'location'])
print('\n')
print(target.loc[idx, 'details'])

Google
Marketing Data Scientist, Devices and Services Marketing
Los Angeles, CA


This role may also be located in our Playa Vista, CA campus.

Note: By applying to this position you will have an opportunity to share your preferred working location from the following: Mountain View, CA, USA; Atlanta, GA, USA; New York, NY, USA; Los Angeles, CA, USA; San Francisco, CA, USA.

Minimum qualifications:
Bachelor's degree in Statistics, Quantitative Marketing, Computer Science, or equivalent pratical experience.
4 years of experience in an analytical role.
4 years of experience applying quantitative modeling to business problems, including experience with databases, SQL queries, and visualization tools.
3 years of experience in statistical analysis and programming (Python, R, etc.).

Preferred qualifications:
Master's or PhD in Computer Science, Statistics, Quantitative Marketing, or equivalent experience.
Experience with advanced explanatory and predictive quantitative models including Survival, Bayesian, and Machine Learning models.
Ability to understand the business implications of data and how to use it to build a strategic story that drives decisions across the Devices and Services Marketing organization.
Verbal and written communication skills, including the ability to communicate findings in a structured and clear manner to a non-technical audience.

About The Job

As a Marketing Data Scientist, you will work with Devices and Services marketing and product teams make decisions based on data. You will refine business questions, identify the appropriate data sources, extract and munge data, conduct rigorous quantitative analyses, define actionable metrics, synthesize information, and present insights to support marketing and product teams. You will provide expertise in analytics and data infrastructure to inform key Devices and Services Marketing business decisions.

Know the user. Know the magic. Connect the two. At its core, marketing at Google starts with technology and ends with the user, bringing both together in unconventional ways. Our job is to demonstrate how Google's products solve the world's problems--from the everyday to the epic, from the mundane to the monumental. And we approach marketing in a way that only Google can--changing the game, redefining the medium, making the user the priority, and ultimately, letting the technology speak for itself.

Responsibilities

Work with attitudinal and behavioral data of Devices and Services customers to derive insights, identify strategic solutions, and present them to stakeholders.
Create predictive analytical models of user actions.
Define business metrics and develop automated reports and dashboards.
Work with cross-functional stakeholders to gather requirements, manage implementation, and drive delivery of projects.

Google is proud to be an equal opportunity workplace and is an affirmative action employer. We are committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity or Veteran status. We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. See also Google's EEO Policy and EEO is the Law. If you have a disability or special need that requires accommodation, please let us know by completing our Accommodations for Applicants form .